/out
/mill
/mill.bat
/bin/mill
/bin/mill.bat
/mill.vmoptions
/mill-standalone
/mill-standalone.bat
/mill-release-*
/git
/.idea
/.idea_modules
target
/VER
/versions.properties
/bin/prelude.sh
/bin/platform.sh
/bin/prelude.ps1
/bin/sireum
/bin/sireum.jar
/bin/.sireum-win.jar
/bin/sireum.bat
/bin/mac
/bin/linux
/bin/win
/bin/scala
/lib
*.cmd.jar
*.cmd.com
/bin/init.bat
